/* Body */
body{
    background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    margin: 0;
}
.DCC{
    background: linear-gradient(70deg, #1a1919, #5a5a5a);
}




/* Formatos */
html{
    scroll-behavior: smooth;
}
mark{
    background-color: #ee82ee;
}
.centrado{
    display:block;margin:auto;
}
#titulo{
    font-size: 50px;
    text-align: center;
    font-family:Century;
}
#titulo-aside{
    text-align: center;
    font-size: 20px;
    font-family:Comic Sans MS;
}
.subtitulo{
    text-align: center;
    font-size: 40px;
    font-family:Comic Sans MS;
}
.subtitulo2{
    font-style: italic;
    font-size: 30px;
    font-family:Comic Sans MS;
    color: #007bff;
}
a, a:visited{
    color:#007bff;
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
    transition: all 0.4s linear;
}
#numero-columnas{
    column-count: 3;
}




/* Nav */
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}
.header{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;
    background: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header a{
    display: block;
    padding: 0.2rem;
    transition: all 0.4s linear;
}
.header ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
div img{
    float: left;
}
.logo{
    float: left;
    width: 28%;
    text-align: left;
}
.header ul li{
    float: left;
    width: 17%;
}



/* Main*/
.formato{
    width: 70%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
.formato-imagenes{
    width: 70%;
    height: auto;
}
.imagenes{
    width: 20%;
    height: auto;
}
.formato video{
    width: 70%;
    height: auto;
}
.formato iframe{
    width: 60%;
}
/* Main para Contacto */
.Mcontactos{
    width: 90%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
.Mcontactos img{
    width: 40%;
    height: auto;
}



/* Aside */
.aside{
    width: 30%;
    margin: auto;
    padding: 4px;
    box-sizing: border-box;
    float: left;
    color: #ffffff;
    border: 3px dotted whitesmoke;
    background-color: rgba(51, 51, 51, 0.527);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
}
.aside ul{
    list-style: none;
    padding: 0;
    text-align: center;
}



/* footer */
#ir-arriba{
    text-align: right;
    font-family: cursive;
}
.footer{
    width: 100%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    clear: both;
    color: #ffffff;
    background: #353434;
}



/* Tabla */
.tabla{
    text-align: center;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}
td{
    border:1px solid#000;
    background-color: #f5f5f5;
    color: #000000;
    padding: 5px;
}
th{
    border:1px solid#000;
    background-color: #686868;
    padding: 5px;
}
td:hover{
    background:#1a1919;
    color: #ffffff;
}
th:hover{
    background: #1a1919;
}



/* Colores television */
#arrow{
    background-color: #008000;
}
#flash{
    background-color:#b32727;
}
#supergirl{
    background-color: #040485;
}
#legends{
    background-color: #f5f5f5;
    color: #000000;
}
.blackl{
    background-color: #d4d434;
}
.batwoman{
    background-color: #7d2121;
}
#superman{
    background-color:#005780;
}